{% extends "base.html" %}

{% block title %}Add Student{% endblock %}

{% block content %}
<h2>Add New Student</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% if messages[0][0] == 'success' %}
        <script>
            setTimeout(function() {
                window.location.href = "{{ url_for('student_bp.students') }}";
            }, 3000);
        </script>
        {% endif %}

    {% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('student_bp.add_student') }}">
    <div class="mb-3">
        <label for="student_firstName" class="form-label">Student First Name</label>
        <input type="text" class="form-control" id="student_firstName" name="student_firstName" required>
    </div>
    <div class="mb-3">
        <label for="student_lastName" class="form-label">Student Last Name</label>
        <input type="text" class="form-control" id="student_lastName" name="student_lastName" required>
    </div>
    <div class="mb-3">
        <label for="student_id" class="form-label">Student ID</label>
        <input type="text" class="form-control" id="student_id" name="student_id" required>
    </div>
    <div class="mb-3">
        <label for="grade" class="form-label">Grade</label>
        <input type="text" class="form-control" id="grade" name="grade" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Student</button>
</form>
</script>
{% endblock %}